doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Kweeni
    link(rel="stylesheet" href="stylesheets/reset.css")
    link(rel="stylesheet" href="stylesheets/style.css")
    link(href='https://fonts.googleapis.com/css?family=Slabo+13px|Ultra', rel='stylesheet')
  body
    header.indexheader
      .part1
        a.indexlogo(href="index.html")
          img(src="images/logo-xl.svg" alt="logo")
        a.login(href="#") inloggen
      .part2
        h1.text Eerste hulp bij design & development hoofdpijn. Kweeni hoe handig.
        img.user1(src="images/user1.png" alt="profilepic")
        img.user2(src="images/user2.png" alt="profilepic")
        img.user3(src="images/user3.png" alt="profilepic")
        img.user4(src="images/user4.png" alt="profilepic")
        img.user5(src="images/user5.png" alt="profilepic")
        img.user6(src="images/user6.png" alt="profilepic")
        img.user7(src="images/user7.png" alt="profilepic")
        img.user8(src="images/user8.png" alt="profilepic")
        img.user9(src="images/user9.png" alt="profilepic")
        img.user10(src="images/user10.png" alt="profilepic")
        img.user11(src="images/user11.png" alt="profilepic")
        img.user12(src="images/user12.png" alt="profilepic")
    main.indexmain
      article.cool
        img(src="images/icon-cool.svg" alt="icon cool")
        h2 Samen slimmer
        p
          | Iedereen kan een nieuw 
          span kweeni
          | -topic aanmaken en de link delen.
        br
        p Daarna kunnen vragen gesteld worden tijdens lessen, demo's,...
      article.love
        img(src="images/icon-love.svg" alt="icon love")
        h2 Kweeni coins
        p
          | Verdien 
          span kweeni
          |  coins door anderen te helpen. Met je 
          span kweeni
          |  coins kan je andere bedanken die je helpen.
        br
        p Da's kweeni hoe handig.
      article.rainbow
        img(src="images/icon-rainbow.svg" alt="icon rainbow")
        h2 Made by imd
        p Een project van #weareimd en GoodBytes
